#Header {
    text-align: center;
    height: 20%;
}

#Content {
    background-color: rgb(199, 199, 199);
}

#myChart {
    width: 0%;
    height: 0%
}

#Chart {
    width: 90%;
    height: 70%;
    justify-content: center;
} 

#listVideos {
    padding-top: 4%;
    padding-left: 4%;
}

#currentVideo {
    padding-right: 0%;
}

#textHeader {
    color: aliceblue;
}

#info-table{
    padding-top: 10px;
    width:200px;
}
#form-division{
    align-self: center;
    padding-left:20px
}
