<!DOCTYPE html>
<html lang="en">

<head>
    <title>MainPage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../static/index.css" rel="stylesheet">
</head>

<body>
    <!--Navigation-->
    <div id="navigationBar">
        <nav class="navbar navabar-expand-md navbar-lightsticky-top" style="background-color: #e5e5e5;">
            <div class="container-fluid">
                    <img id="logo" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8e/UADY_logo.svg/800px-UADY_logo.svg.png">
                    <h2>PAVI</h2>
            </div>
        </nav>
    </div>

    <div class="containers-fluid">
        <div class="row row-cols-2 justify-content-around">

            <div class="col-6">
                    <h3>Video con detecciones</h3>
                    <video name="{{videos[0].filename}}" id="currentVideo" src="{{ url_for('static', filename='videos/' + videos[0].filename + '.mp4') }}" width="640" autoplay loop muted></video>
                    <div >
                        <iframe id="chart" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="720" height="480" src="https://charts.mongodb.com/charts-project-0-cceje/embed/charts?id=9ca4866f-319b-48f6-a76a-4a93d8d05541&theme=light"></iframe>
                    </div>

            </div>

             <div class="col-4">
                <ul class="list-group">
                    <li id="list-header" class="list-group-item list-group-item-secondary  text-center">Ultimos videos agregados</li>
                    {% for i in range(video_count) %}
                    <li class="list-group-item list-group-item-action video-name">{{videos[i].filename}}</li>
                    {% endfor %}
                </ul>

                </br>
                </br>
                </br>
                        <form action="/process" method="POST" enctype=multipart/form-data>
                            <div class="form-group">
                                <label for="video-file">Selecciona un video:</label>
                                <input type="file" name="video" class="form-control mb-2">
                            </div>
                            <div class="form-group">
                                <label for="config">Selecciona un archivo de configuración (opcional)</label>
                                <input type="file" name="config" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="algorithm">Selecciona el algoritmo a utilizar</label>
                                <select class="form-control" name="algorithm">
                                    <option value="yolo">YOLOv3</option>
                                    <option value="pedestrian">OpenVINO Pedestrian Tracker</option>
                                </select>
                            </div>
                            <input type="submit" class="btn btn-primary">
                        </form>
                    </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="../static/index.js"></script>
</body>
</html>